<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.m5f.mapper.UserMapper">


        <select id="loadUserByUsername" resultType="cn.m5f.bean.User">
                select  * from  user where username = #{username}
        </select>
        <select id="getUserRolesById" resultType="cn.m5f.bean.Role">
--            根据用户名的uid，去找到它所拥有的rid ，rid就是role里对应的角色
                select *from role where id  in(select rid from user_role where uid=#{id})
        </select>
</mapper>